/*==================================================
=                     Page Sub navigation          =
==================================================*/


.c-megamenu {
  background-color: $green-brand;
}

.c-megamenu__inner {
  @include breakpoint(desktop) {
    display: flex;
  }
}

.c-megamenu__item {
  @include breakpoint($until: desktop) {
    border-bottom: 5px solid $green-bottle;
  }

  @include breakpoint(desktop) {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .is-expanded & {
    &:hover {
      background:$green-bottle;
      box-shadow: $shadow;
    }
  }
}

.c-megamenu__link {
  display: block;
  padding: $gap-half;
  
  color: $white;
  font-family: $heading-family;
  font-size: $navigation-primary-item-size;
  color: $white;
  text-decoration: none;
  letter-spacing: $navigation-letter-spacing;
  font-weight: 600;
}

.c-megamenu__itemIcon {
  float:right;

  i:before {
    margin: 0;
  }
}

.c-megamenu__childItem {
  margin-left: $gap-small;
}

.c-megamenu__childList {
  display: none;
  margin: 0 $gap $gap-half;
  border-left: 1px solid rgba( $white, .1 );

  @include breakpoint(desktop) {
    margin-left: $gap-half;
  }

  .js-dropdown-show &,
  .is-expanded & {
    display: block;
  }
}

.c-megamenu__childLink {
  display: block;
  padding: $gap-small $gap-half;
  color: $grey-alto;
  border-bottom: 1px solid $green-bottle;
}
