/*==================================================
=                     Page Sub navigation          =
==================================================*/


.c-megamenu {
  background-color: $green-brand;
}

.c-megamenu__inner {
  @include breakpoint(desktop) {
    display: flex;
  }
}

.c-megamenu__item {
  @include breakpoint($until: desktop) {
    border-bottom: 5px solid $green-bottle;
  }

  @include breakpoint(desktop) {
    flex-basis: 100%;
    flex-grow: 1;
  }

  &.is-active {
    position: relative;
    background:$green-bottle;
  }

  .is-expanded & {
    &:hover{
      background:$green-bottle;
      box-shadow: $shadow;
    }
    &.is-active {
      background:darken($green-bottle, 2%);
    }
  }
}

.c-megamenu__link {
  display: block;
  padding: $gap-half;
  
  color: $white;
  font-family: $heading-family;
  font-size: $navigation-primary-item-size;
  line-height: 1;
  color: $white;
  text-decoration: none;
  letter-spacing: $navigation-letter-spacing;
  font-weight: 600;

  @include breakpoint(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &::before {
    .is-active & {  
      @include breakpoint(desktop) {
        z-index: 999;
        @include objectify($position: absolute);
        @include scalable-rectangle-vertical( $border-width-medium, 30px );
        left: 12px;
        border-color: $white;
        transition: height .3s ease;
      }

      .is-expanded & {
        @include breakpoint(desktop) {
          height: 60px;
        }
      }
    }
  }

  .is-expanded & {
    @include breakpoint(desktop) {
      max-height: 62px;
    }
  }
  .is-active & {
    padding-left: $gap;
  }
}

.c-megamenu__itemIcon {
  float:right;
  display: block;
  margin-left: $gap-small * 2;
  transform-origin: center;
  
  i:before {
    margin: 0;
  }

  .is-expanded & {
    @include breakpoint(desktop) {
      transform: rotate(-180deg);
    }
  }
  
  .js-dropdown-show & {
    transform: rotate(-180deg);
  }
}

.c-megamenu__childItem {
  margin-left: $gap-small;
}

.c-megamenu__childList {
  display: none;
  margin: 0 $gap $gap-half;
  border-left: 1px solid rgba( $white, .1 );

  @include breakpoint(desktop) {
    margin-left: $gap-half;
  }

  .js-dropdown-show & {
    display: block;
  }
  
  .is-expanded & {
    @include breakpoint(desktop) {
      display: block;
    }
  }
}

.c-megamenu__childLink {
  display: block;
  padding: $gap-small $gap-half;
  color: $grey-alto;
  border-bottom: 1px solid $green-bottle;
}
